<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="root">Welcome to <%= title %></div>
  </body>
<script src="dist/index_bundle.js" async ></script>
</html>
